.icon-base() {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
}
.ohui-icon {
  &:hover {}
  // 搜索
  &-search {.icon-base();background-image: url("./icons/search.png");}
  // 设置
  &-set {.icon-base();background-image: url("./icons/set.png");}
  // 取消
  &-cancel {.icon-base();background-image: url("./icons/cancel.png");}
  // 更多
  &-more {.icon-base();background-image: url("./icons/more.png");}
  // ok
  &-ok {.icon-base();background-image: url("./icons/ok.png");}
  // no
  &-no {.icon-base();background-image: url("./icons/no.png");}
  // 编辑
  &-edit {.icon-base();background-image: url("./icons/pencil.png");}
  // 打印
  &-print {.icon-base();background-image: url("./icons/print.png");}
  // 前进
  &-redo {.icon-base();background-image: url("./icons/redo.png");}
  // 后退
  &-undo {.icon-base();background-image: url("./icons/undo.png");}
  // 求和
  &-sum {.icon-base();background-image: url("./icons/sum.png");}
  // 提示
  &-tip {.icon-base();background-image: url("./icons/tip.png");}
  // 刷新
  &-refresh {.icon-base();background-image: url("./icons/reload.png");}
  // 扳手
  &-wrench {.icon-base();background-image: url("./icons/wrench.png");}
  // 用户设置
  &-user-set {.icon-base();background-image: url("./icons/user_config.png");}

  // 箭头刷新
  &-arrow-refresh {.icon-base();background-image: url("./icons/arrow_refresh.png");}
  // 箭头 逆时针 旋转
  &-arrow-rotate-ni {.icon-base();background-image: url("./icons/arrow_rotate_anticlockwise.png");}
  // 箭头 顺时针 旋转
  &-arrow-rotate-s {.icon-base();background-image: url("./icons/arrow_rotate_clockwise.png");}
  // 返回
  &-back {.icon-base();background-image: url("./icons/back.png");}
  // 剪切
  &-cut {.icon-base();background-image: url("./icons/cut.png");}
  // 新增
  &-add {.icon-base();background-image: url("./icons/edit_add.png");}
  // 删除
  &-remove {.icon-base();background-image: url("./icons/edit_remove.png");}
  // 保存
  &-save {.icon-base();background-image: url("./icons/filesave.png");}
  // 过滤
  &-filter {.icon-base();background-image: url("./icons/filter.png");}
  // 文件搜索
  &-file-search {.icon-base();background-image: url("./icons/folder_search.png");}
  // 帮助
  &-help {.icon-base();background-image: url("./icons/help.png");}
  // 信息
  &-information {.icon-base();background-image: url("./icons/information.png");}

  // 用户
  &-user {.icon-base();background-image: url("./icons/man.png");}
  // 密码
  &-password {.icon-base();background-image: url("./icons/lock.png");}
  // 新增（gray）
  &-add-gray {.icon-base();background-image: url("./icons/mini_add.png");}
  // 关闭（gray）
  &-close-gray {.icon-base();background-image: url("./icons/mini_cross.png");}
  // 禁用（gray）
  &-forbidden-gray {.icon-base();background-image: url("./icons/gray_delete.png");}
  // 编辑（gray）
  &-edit-gray {.icon-base();background-image: url("./icons/mini_edit.png");}
  // 减去（gray）
  &-remove-gray {.icon-base();background-image: url("./icons/mini_minus.png");}
  // 刷新（gray）
  &-refresh-gray {.icon-base();background-image: url("./icons/mini_refresh.png");}
  // 设置（gray）
  &-set-gray {.icon-base();background-image: url("./icons/mini_set.png");}
  // 勾号（gray）
  &-ok-gray {.icon-base();background-image: url("./icons/mini_tick.png");}

  // 增加（mini）
  &-mini-add {.icon-base();background-image: url("./icons/mini-append.png");}
  // 删除（mini）
  &-mini-remove {.icon-base();background-image: url("./icons/mini-delete.png");}
  // 取消（mini）
  &-mini-cancel {.icon-base();background-image: url("./icons/mini-cancel.png");}
  // ok（mini）
  &-mini-ok {.icon-base();background-image: url("./icons/mini-ok.png");}
  // 编辑（mini）
  &-mini-edit {.icon-base();background-image: url("./icons/mini-pencil.png");}
  // 刷新（mini）
  &-mini-refresh {.icon-base();background-image: url("./icons/mini-reload.png");}
}



