.icon-base() {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
}
.ohui-icon {

  .icon-base();

  &:hover {}
  // 搜索
  &-search {background-image: url("./icons/search.png");}
  // 设置
  &-set {background-image: url("./icons/set.png");}
  // 取消
  &-cancel {background-image: url("./icons/cancel.png");}
  // 更多
  &-more {background-image: url("./icons/more.png");}
  // ok
  &-ok {background-image: url("./icons/ok.png");}
  // no
  &-no {background-image: url("./icons/no.png");}
  // 编辑
  &-edit {background-image: url("./icons/pencil.png");}
  // 打印
  &-print {background-image: url("./icons/print.png");}
  // 前进
  &-redo {background-image: url("./icons/redo.png");}
  // 后退
  &-undo {background-image: url("./icons/undo.png");}
  // 求和
  &-sum {background-image: url("./icons/sum.png");}
  // 提示
  &-tip {background-image: url("./icons/tip.png");}
  // 刷新
  &-refresh {background-image: url("./icons/reload.png");}
  // 扳手
  &-wrench {background-image: url("./icons/wrench.png");}
  // 用户设置
  &-user-set {background-image: url("./icons/user_config.png");}
  // 日历
  &-calendar {
    background-image: url("./images/datebox_arrow.png");
  }

  // 箭头刷新
  &-arrow-refresh {background-image: url("./icons/arrow_refresh.png");}
  // 箭头 逆时针 旋转
  &-arrow-rotate-ni {background-image: url("./icons/arrow_rotate_anticlockwise.png");}
  // 箭头 顺时针 旋转
  &-arrow-rotate-s {background-image: url("./icons/arrow_rotate_clockwise.png");}
  // 返回
  &-back {background-image: url("./icons/back.png");}
  // 剪切
  &-cut {background-image: url("./icons/cut.png");}
  // 新增
  &-add {background-image: url("./icons/edit_add.png");}
  // 删除
  &-remove {background-image: url("./icons/edit_remove.png");}
  // 保存
  &-save {background-image: url("./icons/filesave.png");}
  // 过滤
  &-filter {background-image: url("./icons/filter.png");}
  // 文件搜索
  &-file-search {background-image: url("./icons/folder_search.png");}
  // 帮助
  &-help {background-image: url("./icons/help.png");}
  // 信息
  &-information {background-image: url("./icons/information.png");}

  // 用户
  &-user {background-image: url("./icons/man.png");}
  // 密码
  &-password {background-image: url("./icons/lock.png");}
  // 新增（gray）
  &-add-gray {background-image: url("./icons/mini_add.png");}
  // 关闭（gray）
  &-close-gray {background-image: url("./icons/mini_cross.png");}
  // 禁用（gray）
  &-forbidden-gray {background-image: url("./icons/gray_delete.png");}
  // 编辑（gray）
  &-edit-gray {background-image: url("./icons/mini_edit.png");}
  // 减去（gray）
  &-remove-gray {background-image: url("./icons/mini_minus.png");}
  // 刷新（gray）
  &-refresh-gray {background-image: url("./icons/mini_refresh.png");}
  // 设置（gray）
  &-set-gray {background-image: url("./icons/mini_set.png");}
  // 勾号（gray）
  &-ok-gray {background-image: url("./icons/mini_tick.png");}

  // 增加（mini）
  &-mini-add {background-image: url("./icons/mini-append.png");}
  // 删除（mini）
  &-mini-remove {background-image: url("./icons/mini-delete.png");}
  // 取消（mini）
  &-mini-cancel {background-image: url("./icons/mini-cancel.png");}
  // ok（mini）
  &-mini-ok {background-image: url("./icons/mini-ok.png");}
  // 编辑（mini）
  &-mini-edit {background-image: url("./icons/mini-pencil.png");}
  // 刷新（mini）
  &-mini-refresh {background-image: url("./icons/mini-reload.png");}

  // 向下
  &-arrow-down {
    background-image: url("./images/panel_tools.png");
    background-position: -47px -25px;
  }
  // 向上
  &-arrow-up {
    background-image: url("./images/panel_tools.png");
    background-position: -47px -3px;
  }
  // 关闭
  &-close {
    background-image: url("./images/panel_tools.png");
    background-position: -25px -3px;
  }
  // 最大化
  &-to-max {
    background-image: url("./images/panel_tools.png");
    background-position: -3px -25px;
  }
  // 最小化
  &-to-min {
    background-image: url("./images/panel_tools.png");
    background-position: -3px -3px;
  }
  // 正常化
  &-to-normal {
    background-image: url("./images/panel_tools.png");
    background-position: -25px -25px;
  }

  // 首页 （页码）
  &-page-first {
    background-image: url("./images/pagination_icons.png");
    background-position: 0 0;
  }
  // 尾页 （页码）
  &-page-last {
    background-image: url("./images/pagination_icons.png");
    background-position: -48px 0;
  }
  // 上一页 （页码）
  &-page-pre {
    background-image: url("./images/pagination_icons.png");
    background-position: -16px 0;
  }
  // 下一页 （页码）
  &-page-next {
    background-image: url("./images/pagination_icons.png");
    background-position: -32px 0;
  }
  // 刷新 （页码）
  &-page-refresh {
    background-image: url("./images/pagination_icons.png");
    background-position: -64px 0;
  }

  //箭头左（双）
  &-arrow-left-dbl {
    background-image: url("./images/layout_arrows.png");
    background-position: -3px -3px;
  }
  //箭头右（双）
  &-arrow-right-dbl {
    background-image: url("./images/layout_arrows.png");
    background-position: -3px -25px;
  }
  //箭头上（双）
  &-arrow-up-dbl {
    background-image: url("./images/layout_arrows.png");
    background-position: -25px -25px;
  }
  //箭头下（双）
  &-arrow-down-dbl {
    background-image: url("./images/layout_arrows.png");
    background-position: -25px -3px;
  }

  // message 消息提示(info)
  &-message {
    background-image: url("./images/icons_info.png");

    &-success {
      background-image: url("./images/icons_success.png");
    }
    &-error {
      background-image: url("./images/icons_error.png");
    }
    &-prompt {
      background-image: url("./images/icons_prompt.png");
    }
    &-warning {
      background-image: url("./images/icons_warning.png");
    }
    &-help {
      background-image: url("./images/icons_help.png");
    }
  }
}



