.ohui-icon-search {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/search.png");
}
.ohui-icon-set {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/set.png");
}
.ohui-icon-cancel {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/cancel.png");
}
.ohui-icon-more {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/more.png");
}
.ohui-icon-ok {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/ok.png");
}
.ohui-icon-no {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/no.png");
}
.ohui-icon-edit {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/pencil.png");
}
.ohui-icon-print {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/print.png");
}
.ohui-icon-redo {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/redo.png");
}
.ohui-icon-undo {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/undo.png");
}
.ohui-icon-sum {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/sum.png");
}
.ohui-icon-tip {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/tip.png");
}
.ohui-icon-refresh {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/reload.png");
}
.ohui-icon-wrench {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/wrench.png");
}
.ohui-icon-user-set {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/user_config.png");
}
.ohui-icon-arrow-refresh {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/arrow_refresh.png");
}
.ohui-icon-arrow-rotate-ni {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/arrow_rotate_anticlockwise.png");
}
.ohui-icon-arrow-rotate-s {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/arrow_rotate_clockwise.png");
}
.ohui-icon-back {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/back.png");
}
.ohui-icon-cut {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/cut.png");
}
.ohui-icon-add {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/edit_add.png");
}
.ohui-icon-remove {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/edit_remove.png");
}
.ohui-icon-save {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/filesave.png");
}
.ohui-icon-filter {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/filter.png");
}
.ohui-icon-file-search {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/folder_search.png");
}
.ohui-icon-help {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/help.png");
}
.ohui-icon-information {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/information.png");
}
.ohui-icon-user {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/man.png");
}
.ohui-icon-password {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/lock.png");
}
.ohui-icon-add-gray {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/mini_add.png");
}
.ohui-icon-close-gray {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/mini_cross.png");
}
.ohui-icon-forbidden-gray {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/gray_delete.png");
}
.ohui-icon-edit-gray {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/mini_edit.png");
}
.ohui-icon-remove-gray {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/mini_minus.png");
}
.ohui-icon-refresh-gray {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/mini_refresh.png");
}
.ohui-icon-set-gray {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/mini_set.png");
}
.ohui-icon-ok-gray {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/mini_tick.png");
}
.ohui-icon-mini-add {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/mini-append.png");
}
.ohui-icon-mini-remove {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/mini-delete.png");
}
.ohui-icon-mini-cancel {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/mini-cancel.png");
}
.ohui-icon-mini-ok {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/mini-ok.png");
}
.ohui-icon-mini-edit {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/mini-pencil.png");
}
.ohui-icon-mini-refresh {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("icons/mini-reload.png");
}
/*# sourceMappingURL=onhonestUI.css.map */