<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../css/onhonestUI.css">
</head>
<body>
  <main>
    <fieldset>
      <legend>默认按钮（带图标，文字）</legend>
      <button class="ohui-btn-default">
        <span class="btn-text">查询</span>
        <span class="ohui-icon ohui-icon-search"></span>
      </button>
    </fieldset>
    <fieldset>
      <legend>默认图标按钮</legend>
      <button class="ohui-btn-icon-default">
        <span class="ohui-icon ohui-icon-information"></span>
      </button>
    </fieldset>
    <fieldset>
      <legend>默认文字按钮</legend>
      <button class="ohui-btn-text-default">文字</button>
    </fieldset>
  </main>
</body>
</html>