<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../css/onhonestUI.css">
  <!-- laydate 日期选择器 -->
  <link rel="stylesheet" href="../vendor/laydate/theme/default/laydate.css">
  <script src="../vendor/laydate/laydate.js"></script>
</head>
<body>
  <main>
    <fieldset>
      <legend>单选框</legend>
      <label class="ohui-radio">
        <input type="radio" name="sex" value="male">
        <span>男</span>
      </label>
      <label class="ohui-radio">
        <input type="radio" name="sex" value="female">
        <span>女</span>
      </label>
<!--      <span class="iconfont icon-radio-unchecked"></span>-->
    </fieldset>
    <fieldset>
      <legend>开关</legend>
      <label class="ohui-switch">
        <input type="checkbox" name="check">
        <span></span>
      </label>
    </fieldset>
    <fieldset>
      <legend>复选框</legend>
      <h3>你喜爱的语言：</h3>
      <label class="ohui-checkbox">
        <input type="checkbox" disabled name="language" value="javascript">
        <span>javaScript</span>
      </label>
      <label class="ohui-checkbox">
        <input type="checkbox" name="language" value="python">
        <span>python</span>
      </label>
      <label class="ohui-checkbox">
        <input type="checkbox" name="language" value="checkbox">
        <span>ruby</span>
      </label>
      <label class="ohui-checkbox">
        <input type="checkbox" name="language" value="java">
        <span>java</span>
      </label>
    </fieldset>
    <fieldset>
      <legend>input输入框</legend>
      <div class="ohui-input-box">
        <span class="ohui-icon ohui-icon-search" title="搜索"></span>
        <input type="text" class="ohui-input">
      </div>
      <div class="ohui-input-box">
        <span class="ohui-icon ohui-icon-search front" title="搜索"></span>
        <input type="text" class="ohui-input">
      </div>
      <div class="ohui-input-box">
        <input type="text" class="ohui-input" disabled>
      </div>
    </fieldset>
    <fieldset>
      <legend>输入框组</legend>
      <div class="ohui-form-group">
        <span class="ohui-input-name">用户名</span>
        <div class="ohui-input-box">
          <input type="text" class="ohui-input">
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>文本域</legend>
      <div class="ohui-form-group">
        <span class="ohui-input-name">用户名</span>
        <label class="ohui-input-box">
          <textarea class="ohui-textarea"></textarea>
        </label>
      </div>
    </fieldset>
    <fieldset>
      <legend>选择框</legend>
      <div class="ohui-form-group">
        <span class="ohui-input-name">行政机关</span>
        <label class="ohui-input-box" id="select_input">
          <span class="ohui-icon ohui-icon-arrow-down" title="展开"></span>
          <input type="text" class="ohui-input" readonly>
        </label>
      </div>
    </fieldset>
    <fieldset>
      <legend>日期选择 laydate</legend>
      <div class="ohui-form-group">
        <span class="ohui-input-name">选择日期</span>
        <label class="ohui-input-box">
          <span class="ohui-icon ohui-icon-calendar" title="日历"></span>
          <input type="text" class="ohui-input" id="datePrick" readonly>
        </label>
      </div>
    </fieldset>
  </main>

  <script src="../vendor/jquery-1.8.3.min.js"></script>
  <script src="../js/ohui-form.js"></script>

  <script>
    $(function () {
      // 选择框
      let select = new OhuiSelect('#select_input',('123456789').split(''),function ($item) {
        console.log($item.text());
      })
      // 日期选择
      laydate.render({
        elem: '#datePrick',
        range: '-'
      });
    });
  </script>

</body>
</html>