<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../css/onhonestUI.css">
</head>
<body>
  <main>
    <fieldset>
      <legend>单选框</legend>
      <label class="ohui-radio">
        <input type="radio" name="sex" value="male">
        <span>男</span>
      </label>
      <label class="ohui-radio">
        <input type="radio" name="sex" value="female">
        <span>女</span>
      </label>
<!--      <span class="iconfont icon-radio-unchecked"></span>-->
    </fieldset>
    <fieldset>
      <legend>开关</legend>
      <label class="ohui-switch">
        <input type="checkbox" name="check">
        <span></span>
      </label>
    </fieldset>
    <fieldset>
      <legend>复选框</legend>
      <h3>你喜爱的语言：</h3>
      <label class="ohui-checkbox">
        <input type="checkbox" disabled name="language" value="javascript">
        <span>javaScript</span>
      </label>
      <label class="ohui-checkbox">
        <input type="checkbox" name="language" value="python">
        <span>python</span>
      </label>
      <label class="ohui-checkbox">
        <input type="checkbox" name="language" value="checkbox">
        <span>ruby</span>
      </label>
      <label class="ohui-checkbox">
        <input type="checkbox" name="language" value="java">
        <span>java</span>
      </label>
    </fieldset>
    <fieldset>
      <legend>input输入框</legend>
      <div class="ohui-input-box">
        <span class="ohui-icon ohui-icon-search" title="搜索"></span>
        <input type="text" class="ohui-input">
      </div>
      <div class="ohui-input-box">
        <span class="ohui-icon ohui-icon-search front" title="搜索"></span>
        <input type="text" class="ohui-input">
      </div>
      <div class="ohui-input-box">
        <input type="text" class="ohui-input" disabled>
      </div>
    </fieldset>
    <fieldset>
      <legend>输入框组</legend>
      <div class="ohui-form-group">
        <div class="ohui-input-name">

        </div>
        <div class="ohui-form-input-box"></div>
      </div>
    </fieldset>
  </main>
</body>
</html>