<!doctype html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/onHonestUI.css">
  <title>Document</title>

  <style>
    .ohui-icon {
      margin: 5px 10px;
    }
  </style>
</head>
<body>
  <main>
    <fieldset>
      <legend>常用1</legend>
      <span class="ohui-icon ohui-icon-search" title="搜索"></span>
      <span class="ohui-icon ohui-icon-set" title="设置"></span>
      <span class="ohui-icon ohui-icon-cancel" title="取消"></span>
      <span class="ohui-icon ohui-icon-more" title="更多"></span>
      <span class="ohui-icon ohui-icon-ok" title="ok"></span>
      <span class="ohui-icon ohui-icon-no" title="no"></span>
      <span class="ohui-icon ohui-icon-edit" title="编辑"></span>
      <span class="ohui-icon ohui-icon-print" title="打印"></span>
      <span class="ohui-icon ohui-icon-redo" title="前进"></span>
      <span class="ohui-icon ohui-icon-undo" title="撤销"></span>
      <span class="ohui-icon ohui-icon-sum" title="求和"></span>
      <span class="ohui-icon ohui-icon-tip" title="提示"></span>
      <span class="ohui-icon ohui-icon-refresh" title="刷新"></span>
      <span class="ohui-icon ohui-icon-wrench" title="扳手"></span>
      <span class="ohui-icon ohui-icon-user-set" title="用户设置"></span>
      <span class="ohui-icon ohui-icon-calendar" title="日历"></span>
    </fieldset>
    <fieldset>
      <legend>常用2</legend>
      <span class="ohui-icon ohui-icon-arrow-refresh" title="箭头刷新"></span>
      <span class="ohui-icon ohui-icon-arrow-rotate-ni" title="逆时针旋转"></span>
      <span class="ohui-icon ohui-icon-arrow-rotate-s" title="顺时针旋转"></span>
      <span class="ohui-icon ohui-icon-back" title="返回"></span>
      <span class="ohui-icon ohui-icon-cut" title="剪切"></span>
      <span class="ohui-icon ohui-icon-add" title="新增"></span>
      <span class="ohui-icon ohui-icon-remove" title="删除"></span>
      <span class="ohui-icon ohui-icon-save" title="保存"></span>
      <span class="ohui-icon ohui-icon-filter" title="过滤"></span>
      <span class="ohui-icon ohui-icon-file-search" title="文件搜索"></span>
      <span class="ohui-icon ohui-icon-help" title="帮助"></span>
      <span class="ohui-icon ohui-icon-information" title="信息"></span>
    </fieldset>

    <fieldset>
      <legend>灰色</legend>
      <span class="ohui-icon ohui-icon-user" title="用户"></span>
      <span class="ohui-icon ohui-icon-password" title="密码"></span>
      <span class="ohui-icon ohui-icon-add-gray" title="新增（gray）"></span>
      <span class="ohui-icon ohui-icon-close-gray" title="关闭（gray）"></span>
      <span class="ohui-icon ohui-icon-forbidden-gray" title="禁用（gray）"></span>
      <span class="ohui-icon ohui-icon-edit-gray" title="编辑（gray）"></span>
      <span class="ohui-icon ohui-icon-remove-gray" title="移除（gray）"></span>
      <span class="ohui-icon ohui-icon-refresh-gray" title="刷新（gray）"></span>
      <span class="ohui-icon ohui-icon-set-gray" title="设置（gray）"></span>
      <span class="ohui-icon ohui-icon-ok-gray" title="ok（gray）"></span>
    </fieldset>
    <fieldset>
      <legend>迷你</legend>
      <span class="ohui-icon ohui-icon-mini-add" title="增加（mini）"></span>
      <span class="ohui-icon ohui-icon-mini-remove" title="删除（mini）"></span>
      <span class="ohui-icon ohui-icon-mini-cancel" title="取消（mini）"></span>
      <span class="ohui-icon ohui-icon-mini-ok" title="ok（mini）"></span>
      <span class="ohui-icon ohui-icon-mini-edit" title="编辑（mini）"></span>
      <span class="ohui-icon ohui-icon-mini-refresh" title="刷新（mini）"></span>
    </fieldset>
    <fieldset>
      <legend>常用3</legend>
      <span class="ohui-icon ohui-icon-arrow-down" title="向下"></span>
      <span class="ohui-icon ohui-icon-arrow-up" title="向上"></span>
      <span class="ohui-icon ohui-icon-close" title="关闭"></span>
      <span class="ohui-icon ohui-icon-to-max" title="最大化"></span>
      <span class="ohui-icon ohui-icon-to-min" title="最小化"></span>
      <span class="ohui-icon ohui-icon-to-normal" title="常规化"></span>
    </fieldset>
    <fieldset>
      <legend>页码相关</legend>
      <span class="ohui-icon ohui-icon-page-first" title="首页"></span>
      <span class="ohui-icon ohui-icon-page-pre" title="上一页"></span>
      <span class="ohui-icon ohui-icon-page-next" title="下一页"></span>
      <span class="ohui-icon ohui-icon-page-last" title="尾页"></span>
      <span class="ohui-icon ohui-icon-page-refresh" title="刷新"></span>
    </fieldset>
    <fieldset>
      <legend>箭头（双）</legend>
      <span class="ohui-icon ohui-icon-arrow-left-dbl" title="箭头左（双）"></span>
      <span class="ohui-icon ohui-icon-arrow-right-dbl" title="箭头右（双）"></span>
      <span class="ohui-icon ohui-icon-arrow-up-dbl" title="箭头上（双）"></span>
      <span class="ohui-icon ohui-icon-arrow-down-dbl" title="箭头下（双）"></span>
    </fieldset>
    <fieldset>
      <legend>message 消息提示</legend>
      <span class="ohui-icon ohui-icon-message" title="message（info）"></span>
      <span class="ohui-icon ohui-icon-message-success" title="message（success）"></span>
      <span class="ohui-icon ohui-icon-message-error" title="message（error）"></span>
      <span class="ohui-icon ohui-icon-message-prompt" title="message（prompt）"></span>
      <span class="ohui-icon ohui-icon-message-warning" title="message（warning）"></span>
      <span class="ohui-icon ohui-icon-message-help" title="message（help）"></span>
    </fieldset>
  </main>
</body>
</html>