<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../css/onHonestUI.css">
  <link rel="stylesheet" href="../vendor/fontAwesome/css/font-awesome.css">
  <script src="../vendor/jquery-1.8.3.min.js"></script>
  <script src="../js/ohui-all.min.js"></script>
</head>
<body>
  <main>
    <fieldset>
      <legend>tabs 切换</legend>
      <div class="ohui-tabs" id="ohui_tabs">
        <ul class="ohui-tabs-head">
          <li>tab 1</li>
          <li>tab 2</li>
          <li>tab 3</li>
        </ul>
        <ul class="ohui-tabs-body">
          <li>content 1</li>
          <li>content 2</li>
          <li>content 3</li>
        </ul>
      </div>
    </fieldset>
    <fieldset>
      <legend>侧边菜单（slide nav）</legend>
      <div class="ohui-demo-box">
        <aside class="ohui-sidebar-wrap skin-blue" id="asideMenu"></aside>
      </div>
    </fieldset>
    <fieldset>
      <legend>topNavBar 头部导航</legend>
      <div class="ohui-demo-box">
        <div class="ohui-topNavBar">
          <div class="logo-box pull-left">温州粮食管理系统</div>
          <div class="nav-box clearfix">
            <ul class="menu-box pull-left">
              <li class="active"><span class="text">测试文字</span></li>
              <li><span class="text">测试文字</span></li>
              <li><a class="text" href="">测试文字</a></li>
              <li><a class="text" href="">测试文字</a></li>
              <li><a class="text" href="">测试文字</a></li>
              <li><a class="text" href="">测试文字</a></li>
              <li><a class="text" href="">测试文字</a></li>
            </ul>
            <div class="userMenu-box pull-right">
              <div class="userName-box">
                <i class="icon"></i>
                <span class="text">管理员</span>
              </div>
              <ul class="userMenu">
                <li><span class="text">个人中心</span></li>
                <li><span class="text">消息</span></li>
                <li><span class="text">退出</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>bread crumbs 面包屑</legend>
      <div class="ohui-breadCrumbs" id="ohuiBreadCrumbs"></div>

    </fieldset>
  </main>

  <script>
    $(function () {
      $('#ohui_tabs').tabsChange();
      loadSiderBar();
      $('#ohuiBreadCrumbs').breadCrumbs({
        separator: '>',
        navs: [
          {
            text: '首页',
            href: './index.html'
          },
          {
            text: '粮食业务',
            href:'./lsyw.html'
          },
          {
            text: '粮食出入库',
            href: './lscrk.html'
          },
          {
            text: '出库单'
          }
        ]
      })
    });

    function loadSiderBar() {
      $.ajax({
        url: '../json/sideBar/menu.json',
        success: function (data) {
          $('#asideMenu').sidebarMenu({
            data: data,
            callback: function () {
              console.log(this);
            }
          });
        }
      })
    }
  </script>

</body>
</html>