<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>查询页面</title>
  <link rel="stylesheet" href="../css/onhonestUI.css">
</head>
<body>
  <main>
    <fieldset>
      <legend>查询页面</legend>
      <!-- 查询条件 -->
      <div class="ohui-panel">
        <div class="ohui-panel-header">
          <h2>查询条件</h2>
        </div>
        <div class="ohui-panel-body">
          <div class="ohui-search-box">
            <div class="ohui-form-group">
              <span class="ohui-input-name">用户名</span>
              <label class="ohui-input-box">
                <input type="text" class="ohui-input">
              </label>
            </div>

            <button class="ohui-btn-default">
              <span class="ohui-icon ohui-icon-search"></span>
              <span class="btn-text">查询</span>
            </button>
          </div>
        </div>
      </div>
      <!-- 查询结果 -->
      <div class="ohui-panel marg-t-15">
        <div class="ohui-panel-header">
          <h2>查询结果</h2>
        </div>
        <div class="ohui-panel-body">
          <div class="ohui-toolbar">
            <button class="ohui-btn-default">
              <span class="ohui-icon ohui-icon-add"></span>
              <span class="btn-text">添加单位</span>
            </button>
            <button class="ohui-btn-default">
              <span class="ohui-icon ohui-icon-edit"></span>
              <span class="btn-text">修改单位</span>
            </button>
            <button class="ohui-btn-default">
              <span class="ohui-icon ohui-icon-remove"></span>
              <span class="btn-text">删除单位</span>
            </button>
          </div>
          <div class="ohui-table-wrap">
            <table class="ohui-table">
              <thead>
              <tr>
                <th>壹</th>
                <th>贰</th>
                <th>叁</th>
                <th>肆</th>
                <th>伍</th>
                <th>陆</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>01</td>
                <td>02</td>
                <td>03</td>
                <td>04</td>
                <td>05</td>
                <td>06</td>
              </tr>
              <tr>
                <td>01</td>
                <td>02</td>
                <td>03</td>
                <td>04</td>
                <td>05</td>
                <td>06</td>
              </tr>
              <tr>
                <td>01</td>
                <td>02</td>
                <td>03</td>
                <td>04</td>
                <td>05</td>
                <td>06</td>
              </tr>
              <tr>
                <td>01</td>
                <td>02</td>
                <td>03</td>
                <td>04</td>
                <td>05</td>
                <td>06</td>
              </tr>
              <tr>
                <td>01</td>
                <td>02</td>
                <td>03</td>
                <td>04</td>
                <td>05</td>
                <td>06</td>
              </tr>
              <tr>
                <td>01</td>
                <td>02</td>
                <td>03</td>
                <td>04</td>
                <td>05</td>
                <td>06</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="ohui-pager">
            <div class="ohui-pager-box push-left">
              <div class="item">
                <!-- 每页显示条数 -->
                <select>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                </select>
              </div>
              <i class="line"></i>
              <div class="item">
                <button class="ohui-btn-icon-default" disabled>
                  <span class="ohui-icon ohui-icon-page-first" title="首页"></span>
                </button>
              </div>
              <div class="item">
                <button class="ohui-btn-icon-default" disabled>
                  <span class="ohui-icon ohui-icon-page-pre" title="上一页"></span>
                </button>
              </div>
              <i class="line"></i>
              <div class="item">第<input type="text">页，共4页</div>
              <i class="line"></i>
              <div class="item">
                <button class="ohui-btn-icon-default">
                  <span class="ohui-icon ohui-icon-page-next" title="下一页"></span>
                </button>
              </div>
              <div class="item">
                <button class="ohui-btn-icon-default">
                  <span class="ohui-icon ohui-icon-page-last" title="尾页"></span>
                </button>
              </div>
              <i class="line"></i>
              <div class="item">
                <button class="ohui-btn-icon-default">
                  <span class="ohui-icon ohui-icon-page-refresh" title="刷新"></span>
                </button>
              </div>
            </div>
            <div class="ohui-pager-box push-right">
              <div class="item">显示第1到第10条记录,共36条记录</div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </main>

</body>
</html>